/*
Style page for the entire portfolio project.

 Author: Nelson McFadyen
 Last Updated: Nov, 25, 2024
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

/* Adjust each project section */
.project {
    width: 80%; /* Control the width of project sections */
    max-width: 600px; /* Prevent project sections from getting too wide */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem 0; /* Space between projects */
    padding: 1rem;
}

.project img {
    max-width: 100%;
    border-radius: 8px;
}


main {
    display: flex;
    flex-direction: column; /* Stack the projects vertically */
    align-items: center; /* Center align the project sections */
    text-align: center; /* Ensures all text is centered */
}



/* Carousel styles */
.carousel {
    position: relative;
    max-width: 500px; /* Adjust width as needed */
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* This line ensures the flex container is the full width of the carousel */
}

.carousel-images img {
    min-width: 100%; /* Ensures each image takes up the full width of the carousel */
    display: block;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
}

button.prev { left: 10px; }
button.next { right: 10px; }

.border-container {
    width: 100%; /* Full viewport width */
    background: linear-gradient(to right, #ff5733 5%, #ff5733 5%, #fff 5%, #fff 90%, #28a745 90%, #28a745 95%);
    display: flex;
    justify-content: center;
}



.wrapper {
    width: 90%; /* Content width */
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}












/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    text-align: center;
    color: #ccc;
    padding: 10px 20px;
    height: 150px;
}
